html, body {
    max-width: 100%;
    overflow-x: hidden;
}

pre{
    width: 100%;
}

#main{
    background-color: white;
}

#sideNav{
    background-color: #ffa0a2;
    -webkit-box-shadow: 6px 0px 16px -1px rgba(0,0,0,0.15);
    -moz-box-shadow: 6px 0px 16px -1px rgba(0,0,0,0.15);
    box-shadow: 6px 0px 16px -1px rgba(0,0,0,0.15);
}

.sideAccent{
    z-index: 99;
    position: fixed;
    height: 1%;
    width: 120%;
    background-color: #ff6760;
    top:0;
    left:0;
}

.sideNav-container{
    display: block;
    position: fixed;
    width: 100%;
}

.nav-item ul{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item h3{
    color: white;
    margin-left: 1%;
}

.nav-item ul li{
    padding: .5% .5% .5% 2%;
}

.nav-item p,a{
    line-height: 2.5em;
    text-decoration: none;
    color: white;
}

.nav-item p,a:hover{
    color: white;
    text-decoration: none;
}

.nav-item li:nth-child(even) {
    background-color: #ffb5b6;
}
.nav-item li:nth-child(odd) {
    background-color: #ffc1c2;
}